@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, black, #0e0642);;
}

body, html, #root {
  height: 100%;
}

h1 { 
  margin: 0;
}