form {
    width: 800px;
}

.nameFieldRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin: 8px 0;
}

.button {
    margin: 8px 0;
}

.existingUser,
.existingUser:visited,
.existingUser:hover,
.existingUser:active,
.nonExistingUser,
.nonExistingUser:visited,
.nonExistingUser:hover,
.nonExistingUser:active {
    text-decoration: none;
    color: grey;
    margin: 10px 0;
}

.existingUserContainer,
.nonExistingUserContainer {
    display: flex;
    justify-content: flex-end;
}

.loginFormPassword {
    margin: 8px 0;
}

.createConversationForm {
    width: 100%;
}

.message {
    margin: 8px 0;
}